src/main/mule/mule_apimanager_poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a0ab7a04-d3ac-4e33-94c4-7453b61ca37b" >
		<http:listener-connection host="0.0.0.0" port="8081"/>
	</http:listener-config>
	<api-gateway:autodiscovery apiId="17507157" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="89b1a2e3-5c99-4674-bfff-93eb7c852174" flowRef="mule_apimanager_pocFlow" />
	<flow name="mule_apimanager_pocFlow" doc:id="62e3bcb6-3d2e-46c6-ae39-23de936ebac5" >
		<set-payload value='#["API Manager POC "]' doc:name="Set Payload" doc:id="23aa9512-00b7-493f-bc77-342e666bfb30" />
	</flow>
</mule>
